<ng-container *transloco="let t">
  <div class="w-full h-full px-4">
    <mat-card class="bg-card h-full">
      <div class="header border-b flex justify-between">
        <div class="text-xl font-bold card-title mb-3 capitalize">
          {{t('hrm-management.department.title')}}
        </div>
        <div class="mb-2">
          <button mat-raised-button color="primary" (click)="addOrEditDepartment()">
            <mat-icon class="icon-size-6" svgIcon="heroicons_outline:plus"></mat-icon>
            {{t('add-new')}}
          </button>
        </div>
      </div>
      <div class="search-group">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{t("form.search")}}
              </mat-panel-title>
              <!--                            <mat-panel-description>-->
              <!--                                Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
              <!--                            </mat-panel-description>-->
            </mat-expansion-panel-header>
            <ng-container>
              <div class="flex flex-col h-full">
                <!--        header-->

                <!--        content-->
                <div class="content overflow-auto flex justify-between flex-wrap" [formGroup]="formSearch">
                  <div class="field flex-col w-1/2  p-4">
                    <div class="input">
                      <label >{{t("form.name")}}</label>
                      <mat-form-field
                        class="fuse-mat-no-subscript w-full  sm:mt-0 bg-card">
                        <input class="w-full"
                               placeholder="Nhập tên"
                               formControlName="name"
                               matInput trim='blur'>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="field flex-col w-1/2  p-4">
                    <label class=>{{t("form.createBy")}}</label>
                    <div class="input">
                      <mat-form-field
                        class="fuse-mat-no-subscript w-full sm:mt-0 bg-card">
                        <input class="w-full"
                               placeholder="..."
                               formControlName="createBy"
                               matInput trim='blur'>
                      </mat-form-field>
                    </div>
                  </div>
                  <!--                                    <div class="field flex-col w-1/3 mb-4 p-4">-->
                  <!--                                        <label class=>Ngày thêm</label>-->
                  <!--                                        <div class="input">-->
                  <!--                                            <mat-form-field-->
                  <!--                                                class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card">-->
                  <!--                                                <input class="w-full"-->
                  <!--                                                       placeholder="Chọn ngày"-->
                  <!--                                                       formControlName="createdDate"-->
                  <!--                                                       matInput>-->
                  <!--                                            </mat-form-field>-->
                  <!--                                        </div>-->
                  <!--                                    </div>-->

                </div>
                <div class="footer  flex justify-center">
                  <button mat-raised-button color="primary" class="mr-3" [disabled]="formSearch.invalid" (click)="doSeach(formSearch.value)">
                    <!--                                        <mat-icon class="icon-size-5 mr-2" svgIcon="heroicons_outline:check"></mat-icon>-->
                    <mat-icon
                      matPrefix
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:search'"></mat-icon>
                    <span>{{t("form.search")}}</span>
                  </button>
                </div>
              </div>
            </ng-container>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="content mt-4 w-full">
        <div class="data-table w-full mt-4">
          <app-data-table
            [rows]="searchResult.data"
            [columns]="columns"
            [paginate]="true"
            [limit]="searchModel.pageSize"
            [count]="searchResult.totalRecords"
            (action)="actionClick($event)"
            (pageChange)="changePage($event)">
          </app-data-table>
        </div>
      </div>
    </mat-card>
  </div>
</ng-container>
