<ng-container *transloco="let t">
    <mat-card class="bg-slate-100 h-160 overflow-hidden scroll-smooth hover:overflow-auto cursor-pointer">
        <form [formGroup]="formGroup">
            <!-- Team Name -->
            <div class="w-full flex justify-between py-2 border-gray-400 border-b-2">
                <div class="flex">
                    <mat-label class="font-bold capitalize">{{team.name + ' ' + '(' + totalMember + ' ' +
                        ('hrm-management.team.form.member'|transloco) + ')'}}</mat-label>
                </div>

                <!-- status -->
                <div *ngIf="team.status==1; else template1">
                    <div class="flex justify-between items-center">
                        <mat-label class="font-bold capitalize mr-3">{{'common.activing'|transloco}}</mat-label>
                        <div class="w-4 h-4 bg-green-600 rounded-lg"></div>
                    </div>
                </div>
                <ng-template #template1>
                    <div class="flex justify-between items-center">
                        <mat-label class="font-bold capitalize mr-3">{{'common.notActive'|transloco}}</mat-label>
                        <div class="w-4 h-4 bg-red-600 rounded-lg"></div>
                    </div>
                </ng-template>
            </div>

            <!-- sprint -->
            <div class="w-full flex justify-start py-4 mt-5">
                <div class="flex w-2/4 justify-between">
                    <mat-label class="mr-1 font-bold capitalize">{{'common.sprint'|transloco}}</mat-label>
                    <mat-form-field class="fuse-mat-no-subscript w-full -mt-2">
                        <input class=" " matInput [matDatepicker]="sprint" datePickerFormat="MM/YYYY"
                            (dateChange)="onDateChange(formGroup.value['sprint'])" [formControlName]="'sprint'">
                        <mat-datepicker-toggle #datepicker [for]="sprint">
                        </mat-datepicker-toggle>
                        <mat-datepicker #sprint startView="multi-year"
                            panelClass="example-month-picker"></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="flex w-2/5 justify-around">
                    <div class="">
                        <mat-label class="font-bold capitalize">{{"common.performance"|transloco}}{{':'+' '+
                            performance
                            +'%'}}</mat-label>
                    </div>
                </div>
            </div>



            <!-- Leader -->
            <div class="w-full flex justify-between py-2">
                <div class="flex w-2/4">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label class="font-bold capitalize">
                            {{"common.leader"|transloco}}
                        </mat-label>
                        <div class="-translate-y-9 translate-x-44">
                            <button mat-icon-button class="hover:bg-slate-200" (click)="editLeader(team.id)">
                                <mat-icon svgIcon="heroicons_outline:pencil-alt" title="Edit"
                                    class="icon-size-5"></mat-icon>
                            </button>
                        </div>
                        <input class=" " matInput [formControlName]="'leadName'" readonly>
                    </mat-form-field>
                </div>
                <!-- target -->
                <div class=" flex w-2/5">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label class="font-bold capitalize">{{'common.expected'|transloco}}</mat-label>
                        <input class=" " matInput [formControlName]="'target'" readonly>
                    </mat-form-field>
                </div>
            </div>

            <!-- Ecpected -->
            <div class="w-full flex-col justify-between py-2">
                <!-- target -->
                <!-- <div class="w-full mb-4">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label class="font-bold capitalize">{{'common.expected'|transloco}}</mat-label>
                            <input class=" " matInput [formControlName]="'target'" readonly>
                        </mat-form-field>
                    </div> -->
                <div class="w-full flex justify-between">
                    <!-- cost -->
                    <div class="w-2/5">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label class="font-bold capitalize">{{'common.cost'|transloco}}</mat-label>
                            <input class=" " matInput [formControlName]="'cost'" readonly>
                        </mat-form-field>
                    </div>

                    <!-- revenue -->
                    <div class="w-2/5">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label class="font-bold capitalize">{{'common.revenue'|transloco}}</mat-label>
                            <input class=" " matInput [formControlName]="'revenue'" readonly>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <!-- List member -->
            <div class="w-full mt-2  border-gray-400 border-b-2 pt-2 pb-8">
                <mat-expansion-panel class="w-full">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="font-bold capitalize">
                            {{'common.listMember'|transloco}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list role="list">
                        <div *ngFor="let member of listStaffName; index as idx; count as total"
                            class="flex items-center">
                            <div>{{idx+1+'.'}}</div>
                            <div>
                                <mat-list-item role="listitem">{{member}}</mat-list-item>
                            </div>
                        </div>
                    </mat-list>
                </mat-expansion-panel>
            </div>

        </form>

        <!-- Team Kpi -->
        <div class="w-full">
            <!-- <div class="w-full flex justify-end py-2">
                <div class="flex justify-between w-full py-2">


                    <div class="w-2/5">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label
                                class="font-bold capitalize">{{'hrm-management.team.form.startDate'|transloco}}</mat-label>
                            <input class=" " matInput [matDatepicker]="startDate" datePickerFormat="MM/YYYY"
                                [placeholder]="('placeholder.chooseDate' | transloco)+' ...'">
                            <mat-datepicker-toggle #datepicker [for]="startDate">
                            </mat-datepicker-toggle>
                            <mat-datepicker #startDate></mat-datepicker>
                        </mat-form-field>
                    </div>


                    <div class="w-2/5">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label
                                class="font-bold capitalize">{{'hrm-management.team.form.endDate'|transloco}}</mat-label>
                            <input class=" " matInput [matDatepicker]="endDate" datePickerFormat="MM/YYYY"
                                [placeholder]="('placeholder.chooseDate' | transloco)+' ...'">
                            <mat-datepicker-toggle #datepicker [for]="endDate">
                            </mat-datepicker-toggle>
                            <mat-datepicker #endDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div> -->

            <!-- Zoom Icon -->
            <!-- <div class="w-full flex justify-end py-2">
                <button mat-icon-button class="hover:bg-slate-200">
                    <mat-icon svgIcon="heroicons_outline:eye" title="View" class="icon-size-5"></mat-icon>
                </button>
            </div> -->

            <!-- Hight-Chart -->
            <div>
                <app-team-kpi [data]="team.id" [random]="random"></app-team-kpi>
            </div>
        </div>

        <!-- action -->
        <div class="w-full flex justify-end">
            <div class="flex justify-end p-2">
                <button mat-icon-button class="hover:bg-slate-200" (click)="addOrEdit(team.id)">
                    <mat-icon svgIcon="heroicons_outline:pencil-alt" title="Edit" class="icon-size-5"></mat-icon>
                </button>
                <button mat-icon-button class="hover:bg-slate-200" (click)="deleteConfirmDialog(team.id)">
                    <mat-icon svgIcon="heroicons_outline:trash" title="Delete" class="icon-size-5"></mat-icon>
                </button>
            </div>

        </div>
    </mat-card>
</ng-container>
