<ng-container *transloco="let t">
  <div class="w-full h-full px-4">
    <mat-card class="bg-card h-full">
      <div [formGroup]="startDate">
        <div class="w-80 h-full px-4 flex gap-5">
          <div class="w-2/3 flex gap-5">
            <mat-label class="font-bold">{{
              "dashboard.profile.tab.sprint.month" | transloco
            }}</mat-label>
            <mat-form-field class="fuse-mat-no-subscript w-full">
              <input
                class=" "
                matInput
                [matDatepicker]="startMonth"
                datePickerFormat="MM/YYYY"
                [formControlName]="'startMonth'"
                placeholder="Choose a date"
              />
              <mat-datepicker-toggle [for]="startMonth">
              </mat-datepicker-toggle>
              <mat-datepicker
                #startMonth
                startView="multi-year"
                (yearSelected)="
                  chosenYearHandler($event, startDate.get('startMonth'))
                "
                (monthSelected)="
                  chosenMonthHandler(
                    $event,
                    startMonth,
                    startDate.get('startMonth')
                  )
                "
                panelClass="example-month-picker"
              ></mat-datepicker>
            </mat-form-field>
            <!-- <app-error-message
              [control]="startDate.get('startMonth')"
              [name]="'dashboard.profile.tab.sprint.month' | transloco"
            >
            </app-error-message> -->
          </div>
          <!-- <div class="w-1/3 flex justify-end items-end">
            <button
              mat-raised-button
              color="primary"
              class="mr-3"
              [disabled]="startDate.invalid"
              (click)="view()"
            >
              <span>{{ "common.button.view" | transloco }}
              </span>
            </button>
          </div> -->
        </div>
      </div>
      <div class="content mt-4 w-full">
        <div class="data-table w-full mt-4">
            <app-data-table
            [roleName]="_permissionCodeName"
            [rows]="searchResult?.data"
            [columns]="columns"
            [paginate]="true"
            [limit]="searchModel.pageSize"
            [count]="searchResult?.totalRecords"
            [rowTemplate]="rowTemplate"
            (callback)="handleDataKPI($event)"
            (action)="actionClick($event)"
            (pageChange)="changePage($event)"
          >
          <ng-template #rowTemplate let-row="row" let-column="column">
            
            <ng-container [ngSwitch]="column.columnDef">
              <ng-container *ngSwitchDefault>{{
                row[column.columnDef]
              }}</ng-container>
              <ng-container *ngSwitchCase="'salaryActual'" >
                <div class="box-percent">
                  <mat-form-field
                    class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card"
                  >
                    <input
                      class="w-full"
                      matInput
                      trim="blur"
                      required
                      #rateInput="ngModel"
                      [(ngModel)]="row[column.columnDef]"
                      (ngModelChange)="change(row['staffId'])"
                      pattern="[+]?[0-9]++++"
                    />
                  </mat-form-field>
                </div>
                <div
                  class="errors"
                  *ngIf="rateInput.errors && (rateInput.dirty || rateInput.touched)"
                >
                  <div [hidden]="!rateInput.errors.pattern">
                    <span>{{
                      "dashboard.profile.tab.sprint.time_percent_err_1" | transloco
                    }}</span>
                  </div>
                  <div [hidden]="!rateInput.errors.required">
                    {{ "dashboard.profile.tab.sprint.time_percent_err" | transloco }}
                  </div>
                </div>
              </ng-container>

            </ng-container>
          </ng-template>
          </app-data-table>
        </div>
      </div>
      <div class="w-full flex justify-end items-end">
        <button
          mat-raised-button
          color="primary"
          class="mr-3"
          (click)="saveData(searchResult?.data)"
        >
        <mat-icon
          class="icon-size-5 mr-2"
          svgIcon="heroicons_outline:check"
        ></mat-icon>
          <span>{{ "button.save" | transloco }}</span>
        </button>
      </div>

    </mat-card>
  </div>
  
</ng-container>
