

.uploadStyle {
  display: flex;
  align-items: flex-end;
}

.file-input {
  display: none;
}

.nameFile{
  width: 100%;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  a:hover{
    cursor: pointer;
    color: #4f46e5;
    transition: 0.5s;
  }

}
.required:after {
  font-size: revert;
}



