

.uploadStyle {
  display: flex;
  align-items: flex-end;
}

.file-input {
  display: none;
}

.nameFile{
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  a:hover{
    cursor: pointer;
  }

}
