<ng-container *transloco="let t" >
  <div class="header border-b flex justify-between items-center pb-3">
    <div class="text-2xl font-bold card-title capitalize">
      {{'common.title.detail' | transloco : {screenName: 'hrm-management.partner.title'|transloco} }}
    </div>
    <div>
      <button mat-icon-button class="hover:bg-slate-100" (click)="dialogRef.close()">
        <mat-icon svgIcon="heroicons_outline:x" title="Edit" class="icon-size-5"></mat-icon>
      </button>
    </div>
  </div>
  <!--    content-->
  <div class="content mt-6" *ngIf="detailsData">
    <div class="field flex mb-4">
      <div class="w-1/2 flex">
        <mat-label class="w-1/3 p-2 font-semibold">{{"common.name"|transloco}}</mat-label>
        <div class="w-2/3 flex justify-center items-center border b-radius p-2">
          <div
            class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card ">
            {{detailsData?.name ? detailsData.name : ''}}
          </div>
        </div>
      </div>
      <div class="w-1/2 flex">
        <mat-label class="w-1/3 ml-4 p-2 font-semibold">{{"common.phone"|transloco}}</mat-label>
        <div class="flex justify-center items-center border b-radius p-2 w-2/3">
          <div
            class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card ">
            {{(detailsData?.phone ? detailsData.phone : '')}}
          </div>
        </div>
      </div>
    </div>
    <div class="field flex mb-4">
      <mat-label class="w-1/6 p-2 font-semibold">{{"common.address"|transloco}}</mat-label>
      <div class="flex justify-center items-center border b-radius p-2 w-5/6">
        <div class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card ">
          {{detailsData?.address}}
        </div>
      </div>
    </div>

    <div class="field flex mb-4">
      <mat-label class="w-1/6 p-2 font-semibold">{{"common.note"|transloco}}</mat-label>
      <div class="flex justify-center items-center border b-radius p-2 w-5/6">
        <div
          class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card ">
          {{detailsData.note ? detailsData.note : ''}}
        </div>
      </div>
    </div>

    <div class="field flex mb-4">
      <div class="w-1/2 flex">
        <mat-label class="w-1/3 p-2 font-semibold">{{"common.createdBy"|transloco}}</mat-label>
        <div class="w-2/3 flex justify-center items-center border b-radius p-2">
          <div
            class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card ">
            {{detailsData.createdBy ? detailsData.createdBy : ''}}
          </div>
        </div>
      </div>
      <div class="w-1/2 flex">
        <mat-label class="w-1/3 ml-4 p-2 font-semibold">{{"common.createdDate"|transloco}}</mat-label>
        <div class="flex justify-center items-center border b-radius p-2 w-2/3">
          <div
            class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card ">
            {{(detailsData.createdDate ? detailsData.createdDate : '')|date:'dd/MM/yyyy'}}
          </div>
        </div>
      </div>
    </div>
    <div class="field flex mb-4">
      <div class="w-1/2 flex">
        <mat-label class="w-1/3 p-2 font-semibold">{{"common.modifiedBy"|transloco}}</mat-label>
        <div class="w-2/3 flex justify-center items-center border b-radius p-2">
          <div
            class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card ">
            {{detailsData.modifiedBy ? detailsData.modifiedBy : ''}}
          </div>
        </div>
      </div>
      <div class="w-1/2 flex">
        <mat-label class="w-1/3 ml-4 p-2 font-semibold">{{"common.modifiedDate"|transloco}}</mat-label>
        <div class="flex justify-center items-center border b-radius p-2 w-2/3">
          <div
            class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card ">
            {{(detailsData.modifiedDate ? detailsData.modifiedDate : '')|date:'dd/MM/yyyy'}}
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--    footer-->


</ng-container>


