<div class="flex flex-col w-full min-w-0">
  <mat-accordion>
    <!-- <mat-expansion-panel *ngFor="let item of listTab; let i = index" [expanded]="i"> -->
    <mat-expansion-panel *ngFor="let item of listTab; first as isFirst" [expanded]="isFirst">

      
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-detail-profile-dashboards [data]="data.profile" *ngIf="item.id == '1'"></app-detail-profile-dashboards>
      <app-contract-profile-dashboards [data]="data.contract" *ngIf="item.id == '2'"></app-contract-profile-dashboards>
      <app-sprint-profile-dashboards [data]="data.sprint" (callback)="handleData($event, item.id)" *ngIf="item.id == '3'"></app-sprint-profile-dashboards>
      <app-chart-profile-dashboards  [data]="data.chart" (callback)="handleData($event, item.id)" *ngIf="item.id == '4'"></app-chart-profile-dashboards>

      </mat-expansion-panel>
  </mat-accordion>
</div>