table {
  width: 100%;
}

.full-width {
  font-size: 14px;
  width: 100%;
}
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
// -webkit-appearance: none;
// margin: 0;
// }

// input[type=number] {
// padding: 5px;
// margin: 10px 0;
// &.err{
//   border-color: red;
// }
// }
// .errors {
//   font-size: 10px;
//   color: red;
//   font-weight: bold;
//   margin-bottom: 10px;
// }

// .box-percent {
//   display: flex;
//   align-items: center;
//   gap: 15px;
// }
.input-custom {
  border-radius: 6px;
  border-color: #cbd5e1;
  align-items: stretch;
  background-color: #ffffff;
  border-color: #cbd5e1;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  box-shadow: #000000 0px 0px 0px 0px;
  color: #1e293b;
  display: flex;
  font-size: 14px;
  line-height: 18px;
  padding: 0px 16px;
  text-align: left;
  height: 38px;
  margin: 12px 0;
}