<ng-container *transloco="let t">
  <div class="w-full h-full px-4">
    <mat-card class="bg-card h-full">
      <div class="header border-b flex justify-between">
        <div class="text-2xl font-bold card-title mb-3 capitalize">
          {{t('hrm-management.position.title')}}
        </div>
        <div class="search-and-filter flex mr-4 items-center">
          <div class="mb-2">
            <button *hasAnyAuthority="_permissionCodeName+'_CREATE'" mat-raised-button color="primary" (click)="addOrEditPosition()">
              <mat-icon class="icon-size-6" svgIcon="heroicons_outline:plus"></mat-icon>
              {{t('button.new')}}
            </button>
          </div>
        </div>

      </div>
      <div class="search-group">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{t("common.search")}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container>
              <div class="flex flex-col h-full">
                <!--        header-->

                <!--        content-->
                <form class="content overflow-auto flex justify-between flex-wrap" [formGroup]="formSearch">
                  <div class="field flex-col w-full  p-4">
                    <div class="input">
                      <label class="font-medium">{{t("common.keyword")}}</label>
                      <mat-form-field
                        class="fuse-mat-no-subscript w-full  sm:mt-0 bg-card">
                        <input class="w-full"
                               [placeholder]="('common.keyword' | transloco)"
                               formControlName="keyword"
                               matInput trim='blur'>
                      </mat-form-field>
                      <app-error-message [control]="formSearch.get('keyword')" [name]='"common.keyword"|transloco'></app-error-message>
                    </div>
                  </div>
                  <div class="footer w-full flex justify-center">
                    <button type="submit" mat-raised-button color="primary" class="mr-3" [disabled]="formSearch.invalid"
                            (click)="doSearch()">
                      <mat-icon
                        matPrefix
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:search'"></mat-icon>
                      <span>{{t("common.search")}}</span>
                    </button>
                  </div>
                </form>
              </div>
            </ng-container>

          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="content mt-4 w-full">
        <div class="data-table w-full mt-4 h-3/5">
          <app-data-table
            [roleName]="_permissionCodeName"
            [rows]="searchResult.data //| slice: paginate.size * paginate.page : paginate.size * (paginate.page + 1)"
            [columns]="columns"
            [paginate]="true"
            [(pageIndex)]="searchModel.page"
            [limit]="paginate.size"
            [count]="searchResult.totalRecords"
            [rowTemplate]="rowTemplate"
            (action)="actionClick($event)"
            (pageChange)="changePage($event)">
            <ng-template #rowTemplate let-row='row' let-column="column">
              <ng-container [ngSwitch]="column.columnDef">
                <ng-container *ngSwitchDefault>{{row[column.columnDef]}}</ng-container>
                <ng-container *ngSwitchCase="'createdDate'">{{row[column.columnDef]|date :'dd/MM/YYYY'}}</ng-container>
                <ng-container *ngSwitchCase="'modifiedDate'">{{row[column.columnDef]|date :'dd/MM/YYYY'}}</ng-container>
              </ng-container>
              <!--                <button mat-raised-button (click)="(row?.description)" class="icon-size-4">-->
              <!--                  <mat-icon svgIcon="heroicons_outline:eye" color="primary"></mat-icon></button>-->
            </ng-template>
          </app-data-table>
        </div>
      </div>
    </mat-card>
  </div>
</ng-container>
