<form [formGroup]="formSearchKpi">
    <!-- Date -->
    <div class="flex justify-between w-full py-2">
        <!-- start date -->
        <div class="w-2/5">
            <!-- <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-label class="font-bold capitalize">{{'hrm-management.team.form.startDate'|transloco}}</mat-label>
                <input class=" " matInput [matDatepicker]="startDate" datePickerFormat="MM/YYYY"
                    [placeholder]="('placeholder.chooseDate' | transloco)+' ...'" [formControlName]="'startMonth'" (dateChange)="onDateChange('startDate',formSearchKpi.value['startMonth'])">
                <mat-datepicker-toggle #datepicker [for]="startDate">
                </mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field> -->

            <mat-form-field class="fuse-mat-no-subscript w-full" >
                <mat-label class="font-bold capitalize">{{'hrm-management.team.form.startDate'|transloco}}</mat-label>
                <input class="w-full" matInput [matDatepicker]="startMonth" datePickerFormat="MM/YYYY"
                    [placeholder]="('placeholder.chooseDate' | transloco)+' ...'" [formControlName]="'startMonth'" readonly>
                <mat-datepicker-toggle #datepicker [for]="startMonth">
                </mat-datepicker-toggle>
                <mat-datepicker #startMonth startView="multi-year" (monthSelected)="setMonthAndYear($event, startMonth,'startDate')" panelClass="example-month-picker" ></mat-datepicker>
            </mat-form-field>
            <app-error-message [control]="formSearchKpi" [name]="'hrm-management.team.form.startDate'|transloco"></app-error-message>
        </div>

        <!-- end date -->
        <div class="w-2/5">
            <!-- <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-label class="font-bold capitalize">{{'hrm-management.team.form.endDate'|transloco}}</mat-label>
                <input class=" " matInput [matDatepicker]="endDate" datePickerFormat="MM/YYYY"
                    [placeholder]="('placeholder.chooseDate' | transloco)+' ...'" [formControlName]="'endMonth'" (dateChange)="onDateChange('endDate',formSearchKpi.value['endMonth'])">
                <mat-datepicker-toggle #datepicker [for]="endDate">
                </mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field> -->

            <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-label class="font-bold capitalize">{{'hrm-management.team.form.endDate'|transloco}}</mat-label>
                <input class=" " matInput [matDatepicker]="endMonth" datePickerFormat="MM/YYYY"
                    [placeholder]="('placeholder.chooseDate' | transloco)+' ...'" [formControlName]="'endMonth'" readonly>
                <mat-datepicker-toggle #datepicker [for]="endMonth">
                </mat-datepicker-toggle>
                <mat-datepicker #endMonth startView="multi-year" (monthSelected)="setMonthAndYear($event, endMonth,'endDate')" panelClass="example-month-picker"></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
</form>

<!-- hight chart -->
<div class="w-full overflow-auto overscroll-auto">
    <app-chart-line-team-kpi [id]="data" [searchStartDate]="searchStartDate" [searchEndDate]="searchEndDate"></app-chart-line-team-kpi>
</div>