<ng-container *transloco="let t">
  <div [formGroup]="startDate">
    <div class="grid sm:grid-cols-5 gap-6 w-full mb-4">
      <div class="sm:col-span-2">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>{{
            "dashboard.profile.tab.sprint.month" | transloco
          }}</mat-label>
          <input
            class=" "
            matInput
            [matDatepicker]="startMonth"
            datePickerFormat="MM/YYYY"
            [formControlName]="'startMonth'"
            placeholder="Choose a date"
          />
          <mat-datepicker-toggle [for]="startMonth"> </mat-datepicker-toggle>
          <mat-datepicker
            #startMonth
            startView="multi-year"
            (yearSelected)="
              chosenYearHandler($event, startDate.get('startMonth'))
            "
            (monthSelected)="
              chosenMonthHandler(
                $event,
                startMonth,
                startDate.get('startMonth')
              )
            "
            panelClass="example-month-picker"
          ></mat-datepicker>
        </mat-form-field>
        <app-error-message
          [control]="startDate.get('startMonth')"
          [name]="'dashboard.profile.tab.sprint.month' | transloco"
        >
        </app-error-message>
      </div>
      <div class="sm:col-span-1 flex justify-end items-end">
        <button
          mat-raised-button
          color="primary"
          class="mr-3"
          [disabled]="startDate.invalid"
          (click)="view()"
        >
          <span>{{ "common.button.view" | transloco }}</span>
        </button>
      </div>
    </div>
  </div>

  <div class="content" [formGroup]="formGroup">
    <div class="w-full flex mb-2 gap-7">
      <div class="w-1/6">
        <div class="w-full">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <mat-label>
              <!--                        Mức lương / salary-->
              {{ t("dashboard.profile.tab.sprint.salary") }}
            </mat-label>
            <input formControlName="salary" matInput readonly />
          </mat-form-field>
        </div>
      </div>

      <div class="w-1/6">
        <div class="w-full">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <mat-label>
              <!--                        KPI mục tiêu / target_kpi-->
              {{ t("dashboard.profile.tab.sprint.target_kpi") }}
            </mat-label>
            <input formControlName="kpiTarget" matInput readonly />
          </mat-form-field>
        </div>
      </div>

      <div class="w-1/6">
        <div class="w-full">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <mat-label>
              <!--                        Mức lương thực nhận / salary_received-->
              {{ t("dashboard.profile.tab.sprint.salary_received") }}
            </mat-label>
            <input formControlName="salaryActual" matInput readonly />
          </mat-form-field>
        </div>
      </div>

      <div class="w-1/6">
        <div class="w-full">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <mat-label>
              <!--                        KPI đảm bảo / guaranteed_kpi-->
              {{ t("dashboard.profile.tab.sprint.guaranteed_kpi") }}
            </mat-label>
            <input formControlName="kpiInsure" matInput readonly />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="data-table w-full mt-4">
    <div class="mb-2 text-base font-semibold uppercase">
      {{ "dashboard.profile.tab.sprint.reality_kpi" | transloco }}
    </div>
    <app-data-table
      [roleName]="_permissionCodeName"
      [rows]="data?.data"
      [columns]="columns"
      [paginate]="true"
      [limit]="searchModel.pageSize"
      [count]="data?.totalRecords"
      [rowTemplate]="rowTemplate"
      (callback)="handleDataKPI($event)"
      (action)="actionClick($event)"
      (pageChange)="changePage($event)"
    >
    
      <ng-template #rowTemplate let-row="row" let-column="column">
        <ng-container [ngSwitch]="column.columnDef">
          <ng-container *ngSwitchDefault>{{
            row[column.columnDef]
          }}</ng-container>
          <ng-container *ngSwitchCase="'percentEffort'">
            <div class="box-percent">
              <mat-form-field
                class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card"
              >
                <input
                  class="w-full"
                  matInput
                  trim="blur"
                  required
                  #rateInput="ngModel"
                  [(ngModel)]="row[column.columnDef]"
                  [min]="0"
                  max="100"
                  pattern="^$|^([0-9]|[1-9][0-9]|[1][0][0])?"
                  [readonly]="staffId != ''"
                />
              </mat-form-field>
              %
            </div>
            <div
              class="errors"
              *ngIf="rateInput.errors && (rateInput.dirty || rateInput.touched) && !staffId"
            >
              <div [hidden]="!rateInput.errors.pattern">
                <span>{{
                  "dashboard.profile.tab.sprint.time_percent_err_1" | transloco
                }}</span>
              </div>
              <div [hidden]="!rateInput.errors.required">
                {{
                  "dashboard.profile.tab.sprint.time_percent_err" | transloco
                }}
              </div>
            </div>
          </ng-container>
         

        </ng-container>
      </ng-template>
    </app-data-table>

    <div class="sm:col-span-1 flex justify-end items-end" *ngIf="!staffId">
      <button
        mat-raised-button
        color="primary"
        class="mr-3"
        (click)="saveData()"
      >
        <span>{{ "button.save" | transloco }}</span>
      </button>
    </div>
  </div>
</ng-container>
