<ng-container *transloco="let t">
    <div class="header border-b flex justify-between items-center pb-3">
        <div class="text-xl font-bold card-title capitalize">
            {{data?.department ? 'Sửa Chức Vụ' : 'Thêm mới chức vụ'}}
        </div>
        <div>
            <button mat-icon-button class="hover:bg-slate-500" (click)="dialogRef.close()">
                <mat-icon svgIcon="heroicons_outline:x" title="Edit"  class="icon-size-5"></mat-icon>
            </button>
        </div>
    </div>
    <!--    content-->
    <div class="content mt-6" [formGroup]="formGroup">
        <div class="field flex mb-4">
            <div class="w-1/2 flex">
                <label class="w-1/3 required" for="department-name">Tên phòng ban</label>
                <div class="input w-2/3">
                    <mat-form-field
                        class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card">
                        <input class="w-full" id="department-name"
                               placeholder="Tên phòng ban"
                               formControlName="name"
                               matInput>
                    </mat-form-field>
                    <app-error-message [control]="formGroup.get('name')" name="Tên phòng ban"></app-error-message>
                </div>
            </div>
            <div class="w-1/2 flex">
                <label class="w-1/3 required ml-4" for="department-code">Mã phòng ban</label>
                <div class="input w-2/3">
                    <mat-form-field
                        class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card">
                        <input class="w-full" id="department-code"
                               placeholder="Mã phòng ban"
                               formControlName="code"
                               matInput>
                    </mat-form-field>
                    <app-error-message [control]="formGroup.get('code')" name="Mã phòng ban"></app-error-message>
                </div>
            </div>
        </div>
        <div class="field flex mb-4">
            <div class="w-1/2 flex">
                <label class="w-1/3 required">Ngày tạo</label>
                <div class="input w-2/3">
                    <mat-form-field
                        class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card">
                        <input class="w-full" matInput [matDatepicker]="createdDate" formControlName="createdDate" placeholder="Ngày tạo">
                        <mat-datepicker-toggle matSuffix [for]="createdDate"></mat-datepicker-toggle>
                        <mat-datepicker #createdDate color="primary"></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="w-1/2 flex">
                <label class="w-1/3 required ml-4">Ngày cập nhật</label>
                <div class="input w-2/3">
                    <mat-form-field
                        class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card">
                        <input class="w-full" matInput [matDatepicker]="modifiedDate" formControlName="modifiedDate" placeholder="Ngày cập nhật">
                        <mat-datepicker-toggle matSuffix [for]="modifiedDate"></mat-datepicker-toggle>
                        <mat-datepicker #modifiedDate color="primary"></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="field flex mb-4">
            <div class="w-1/2 flex">
                <label class="w-1/3 required" for="createdBy">Người tạo</label>
                <div class="input w-2/3">
                    <mat-form-field
                        class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card">
                        <input class="w-full" id="createdBy"
                               placeholder="Người tạo"
                               formControlName="createdBy"
                               matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="w-1/2 flex">
                <label class="w-1/3 required ml-4" for="modifiedBy">Người chỉnh sửa</label>
                <div class="input w-2/3">
                    <mat-form-field
                        class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card">
                        <input class="w-full" id="modifiedBy"
                               placeholder="Người chỉnh sửa"
                               formControlName="modifiedBy"
                               matInput>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="field flex mb-4">
            <label class="w-1/6" for="description">Mô tả</label>
            <div class="input w-5/6">
                <mat-form-field
                    class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card">
                    <textarea class="w-full" id="description"
                              placeholder="Nhập mô tả"
                              formControlName="description"
                              matInput></textarea>
                </mat-form-field>
                <app-error-message [control]="formGroup.get('description')" name="Mô tả"></app-error-message>
            </div>
        </div>
        <div class="field flex mb-4">
            <label class="w-1/6">Trạng thái</label>
            <div class="input w-5/6">
                <mat-radio-group formControlName="status">
                    <mat-radio-button [value]="1" class="mr-10 text-lime-500">Hoạt động</mat-radio-button>
                    <mat-radio-button [value]="0" class="text-red-500">Bị khóa</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
    <!--    footer-->
    <div class="footer mt-6 flex justify-end">
        <button mat-raised-button color="primary" class="mr-3" [disabled]="formGroup.invalid" (click)="formGroup.valid && save()">
            <mat-icon class="icon-size-5 mr-2" svgIcon="heroicons_outline:check"></mat-icon>
            <span>{{data?.department ? 'Cập nhật' : 'Thêm mới'}}</span>
        </button>
        <button mat-raised-button (click)="dialogRef.close()">
            <mat-icon class="icon-size-5 mr-2" svgIcon="heroicons_outline:x"></mat-icon>
            <span>Hủy bỏ</span>
        </button>
    </div>

</ng-container>
