<ng-container *transloco="let t">
  <div class="flex flex-col h-full">
    <!--        header-->
    <div class="header border-b flex justify-between items-center pb-3">
      <div class="text-lx font-bold card-title">
        {{dialogData?t("hrm-management.editHeader"):t("hrm-management.addHeader")}}
      </div>
      <div>
        <button mat-icon-button class="hover:bg-slate-200" (click)="dialogRef.close()">
          <mat-icon class="icon-size-5" svgIcon="heroicons_outline:x" title="Close"></mat-icon>
        </button>
      </div>
    </div>
    <!--        content-->
    <div class="content mt-6 flex-1 overflow-auto" [formGroup]="formGroup">
      <div class="field flex mb-4">
        <label class="w-1/6 p-2 required" for="project-name">{{t("common.name")}}</label>
        <div class="input w-5/6">
          <mat-form-field
            class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card">
            <input class="w-full" id="project-name"
                   placeholder="Nhập tên"
                   formControlName="name"
                   matInput trim='blur'>
          </mat-form-field>
          <app-error-message [control]="formGroup.get('name')" name="Tên"></app-error-message>
        </div>
      </div>
      <div class="field flex mb-4">
        <div class="w-1/2 flex">
          <label class="w-1/3 p-2 required" for="project-code">{{"common.code"|transloco}}</label>
          <div class="input w-2/3">
            <mat-form-field
              class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card">
              <input class="w-full" id="project-code"
                     placeholder="Tên dự án"
                     formControlName="code"
                     matInput trim='blur'>
            </mat-form-field>
            <app-error-message [control]="formGroup.get('code')" name="Mã"></app-error-message>
          </div>
        </div>
        <div class="w-1/2 flex">
          <label class="w-1/3 p-2 required ml-4" for="projectType">{{"hrm-management.project.form.projectType"|transloco}}</label>
          <div class="input w-2/3">
            <mat-form-field appearance="fill" class="fuse-mat-no-subscript w-full bg-card">
              <mat-select placeholder="Chọn cha" id="projectType" formControlName="projectType">
                <mat-option *ngFor="let type of projectTypes" [value]="type?.code">{{type?.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <app-error-message [control]="formGroup.get('projectType')" name="Kiểu dự án"></app-error-message>
          </div>
        </div>
      </div>
      <div class="field flex mb-4">
        <div class="w-1/2 flex">
          <label class="w-1/3 p-2 required" for="budget">{{"hrm-management.project.form.budget"|transloco}}</label>
          <div class="input w-2/3">
            <mat-form-field
              class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card">
              <input class="w-full" id="budget" type="number"
                     placeholder="Ngân sách"
                     formControlName="budget"
                     matInput trim='blur'>
            </mat-form-field>
            <app-error-message [control]="formGroup.get('budget')" name="budget"></app-error-message>
          </div>
        </div>
        <div class="w-1/2 flex">
          <label class="w-1/3 ml-4 p-2" >{{"hrm-management.project.form.startTime"|transloco}}</label>
          <div class="input w-2/3">
            <div class="w-full pr-0 my-border">
              <input class=" " matInput [matDatepicker]="startTime" formControlName="startTime"
                     placeholder="Choose a date" (dateInput)="formatDate($event.value)">
              <mat-datepicker-toggle  [for]="startTime">
              </mat-datepicker-toggle>
              <mat-datepicker #startTime ></mat-datepicker>
            </div>
          </div>
        </div>
      </div>
      <div class="field flex mb-4">
        <div class="w-1/2 flex">
          <label class="w-1/3 p-2">{{"hrm-management.project.form.expectEndTime"|transloco}}</label>
          <div class="input w-2/3">
            <div class="w-full pr-0 my-border">
              <input class=" " matInput [matDatepicker]="expectEndTime" formControlName="expectEndTime"
                     placeholder="Choose a date">
              <mat-datepicker-toggle  [for]="expectEndTime">
              </mat-datepicker-toggle>
              <mat-datepicker #expectEndTime ></mat-datepicker>
            </div>
          </div>
        </div>
        <div class="w-1/2 flex">
          <label class="w-1/3 ml-4 p-2" >{{"hrm-management.project.form.actualEndTime"|transloco}}</label>
          <div class="input w-2/3">
            <div class="w-full pr-0 my-border">
              <input class=" " matInput [matDatepicker]="actualEndTime" formControlName="actualEndTime"
                     placeholder="Choose a date">
              <mat-datepicker-toggle  [for]="actualEndTime">
              </mat-datepicker-toggle>
              <mat-datepicker #actualEndTime  ></mat-datepicker>
            </div>
          </div>
        </div>
      </div>
      <div class="field flex mb-4">
        <label class="w-1/6 p-2">{{t("common.description")}}</label>
        <div class="input w-5/6">
          <mat-form-field
            class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card">
            <textarea class="w-full"
                      placeholder="Ghi chú"
                      formControlName="description"
                      matInput trim='blur'></textarea>
          </mat-form-field>
        </div>
      </div>

    </div>
    <div class="footer mt-6 flex justify-end">
      <button mat-raised-button color="primary" class="mr-3" [disabled]="formGroup.invalid" (click)="formGroup.valid && save(formGroup.value)">
        <mat-icon class="icon-size-5 mr-2" svgIcon="heroicons_outline:check"></mat-icon>
        <span>{{t('button.save')}}</span>
      </button>
      <button mat-raised-button (click)="dialogRef.close()">
        <mat-icon class="icon-size-5 mr-2" svgIcon="heroicons_outline:x"></mat-icon>
        <span>{{t('button.cancel')}}</span>
      </button>
    </div>
  </div>
</ng-container>
