<ng-container *transloco="let t">
    <div class="w-full">
        <mat-form-field appearance="fill" class="w-full">
            <mat-label class="capitalize font-bold">Chọn Nhóm Trưởng</mat-label>
            <mat-select>
                <mat-option *ngFor="let member of listMembers" value="member.staffId">{{member.staffName}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="footer mt-6 flex justify-end">
        <button mat-raised-button color="primary" class="mr-3" (click)="save(formGroup.value)">
            <mat-icon class="icon-size-5 mr-2" svgIcon="heroicons_outline:check"></mat-icon>
            <span>{{t('button.save')}}</span>
        </button>
        <button mat-raised-button (click)="dialogRef.close()">
            <mat-icon class="icon-size-5 mr-2" svgIcon="heroicons_outline:x"></mat-icon>
            <span>{{t('button.cancel')}}</span>
        </button>
    </div>

</ng-container>