<div class="flex flex-col h-full">
  <!--        header-->
  <div class="header border-b flex justify-between items-center pb-3">
    <div class="text-2xl font-bold card-title capitalize">
      {{'effort.title'|transloco }}
    </div>
    <div>
      <button mat-icon-button class="hover:bg-slate-200" (click)="dialogRef.close()">
        <mat-icon class="icon-size-5" svgIcon="heroicons_outline:x" title="Close"></mat-icon>
      </button>
    </div>
  </div>
  <div class="w-full pl-2 pr-2 content overflow-auto">

    <!-- Form -->
    <form [formGroup]="formGroup">
      <!-- Section -->

      <div class="grid sm:grid-cols-4 gap-4 w-full mt-8">
        <div class="sm:col-span-4 grid grid-cols-4 gap-6 w-full">

          <!-- tHÁNG -->
          <div class="sm:col-span-2">
            <mat-form-field class="fuse-mat-no-subscript w-full">
              <mat-label>{{'effort.month'|transloco}}</mat-label>
              <input matInput [matDatepicker]="startDate" datePickerFormat="MM/YYYY"
                     [formControlName]="'startDate'"
                     (ngModelChange)="changeMonth()"
                     [placeholder]="'placeholder.chooseDate' | transloco">
              <mat-datepicker-toggle [for]="startDate">
              </mat-datepicker-toggle>
              <mat-datepicker startView="multi-year"
                              (yearSelected)="chosenYearHandler($event,formGroup.get('startDate'))"
                              (monthSelected)="chosenMonthHandler($event, startDate, formGroup.get('startDate'))"
                              #startDate></mat-datepicker>
            </mat-form-field>
            <app-error-message [control]="formGroup.get('startDate')"></app-error-message>

          </div>
          <!-- ƯỚC LƯỢNG -->
          <div class="sm:col-span-2">
            <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
              <mat-label>{{'effort.estimate'|transloco}}</mat-label>
              <input
                [formControlName]="'estimate'"
                matInput>
            </mat-form-field>
            <app-error-message [control]="formGroup.get('estimate')"
                               [textPattern]="'common.message.number_format' | transloco : {filed: 'effort.estimate' | transloco}">
            </app-error-message>
          </div>
          <!-- KHÁCH HÀNG CHỐT -->
          <div class="sm:col-span-2">
            <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
              <mat-label>{{'effort.customer_record'|transloco}}</mat-label>
              <input
                [formControlName]="'effort'"
                matInput>
            </mat-form-field>
            <app-error-message [control]="formGroup.get('effort')"
                               [textPattern]="'common.message.number_format' | transloco : {field: 'effort.customer_record' | transloco}">
            </app-error-message>
          </div>
          <!-- NGÀY NGHIỆM THU -->
          <div class="sm:col-span-2">
            <mat-form-field class="fuse-mat-no-subscript w-full">
              <mat-label>{{'effort.accept_date'|transloco}}</mat-label>
              <input matInput [matDatepicker]="leaveDate" datePickerFormat="DD/MM/YYYY"
                     [formControlName]="'acceptanceDate'"
                     [placeholder]="'effort.accept_date' | transloco">
              <mat-datepicker-toggle [for]="leaveDate">
              </mat-datepicker-toggle>
              <mat-datepicker #leaveDate></mat-datepicker>
            </mat-form-field>
          </div>
          <!-- NGHIỆM THU -->
          <div class="sm:col-span-2">
            <mat-form-field class="fuse-mat-no-subscript w-full">
              <mat-label>{{'effort.effort_accept'|transloco}}</mat-label>
              <input
                [formControlName]="'acceptanceEffort'"
                matInput>
            </mat-form-field>
            <app-error-message [control]="formGroup.get('acceptanceEffort')"
                               [textPattern]="'common.message.number_format' | transloco : {field: 'effort.effort_accept' | transloco}">
            </app-error-message>
          </div>
          <!-- CHÊNH LỆCH -->
          <div class="sm:col-span-4" *ngIf="formGroup.get('id').value">
            <label class="font-medium">{{'effort.difference_effort' | transloco}}:&nbsp;</label>
            <span>{{formGroup.get('acceptanceEffort').value - formGroup.get('effort').value}}</span>
          </div>
          <!-- GHI CHÚ -->
          <div class="sm:col-span-4">
            <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
              <mat-label>{{"common.note"|transloco}}</mat-label>
              <textarea
                matInput
                [formControlName]="'note'"
                cdkTextareaAutosize
                [cdkAutosizeMinRows]="5"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- Divider -->
      <div class="mt-11 mb-10 border-t"></div>
      <app-data-table
        *ngIf="!isLoading && formGroup.get('id').value"
        formArrayName="effortDetail"
        [roleName]="_permissionCodeName"
        [rows]="efforts.controls"
        [columns]="columns"
        [paginate]="false"
        [limit]="searchModel.pageSize"
        [count]="searchResult.totalRecords"
        (action)="actionClick($event)"
        (pageChange)="changePage($event)"
        [rowTemplate]="rowTemplate"
      >
        <ng-template #rowTemplate let-row='row' let-column="column" let-index='index'>
          <ng-container [ngSwitch]="column.columnDef">
            <ng-container *ngSwitchCase="'effort'" [formGroupName]="index">
              <div class="field flex mt-2 mb-2">
                <div class="input w-5/6">
                  <mat-form-field
                    class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card">
                    <input matInput formControlName="effort"
                           placeholder="{{'effort.acknowledgment_of_effort' | transloco}}">
                  </mat-form-field>
                  <app-error-message [control]="efforts.controls[index].get('effort')"
                                     [textPattern]="'common.message.number_format' | transloco : {filed: 'effort.acknowledgment_of_effort' | transloco}">
                  </app-error-message>
                </div>
              </div>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <div [innerHTML]="column.cellRenderer ? column.cellRenderer(row.value) : row.value[column.columnDef]"
                   class="whitespace-nowrap"></div>
            </ng-container>
          </ng-container>
        </ng-template>
      </app-data-table>
    </form>

  </div>
  <!-- Actions -->
  <div class="footer mt-6 flex justify-end">
    <button mat-raised-button class="mr-3" (click)="dialogRef.close()">
      <mat-icon class="icon-size-5 mr-2" svgIcon="heroicons_outline:x"></mat-icon>
      <span>{{'button.cancel' | transloco}}</span>
    </button>
    <button mat-raised-button color="primary"
            [disabled]="formGroup.invalid"
            (click)="save()">
      <mat-icon class="icon-size-5 mr-2" svgIcon="heroicons_outline:check"></mat-icon>
      <span>{{'button.save' | transloco}}</span>
    </button>
  </div>

</div>
