<ng-container *transloco="let t">
  <div class="flex flex-col h-full">
    <!--        header-->
    <div class="header border-b flex justify-between items-center pb-3">
      <div class="w-full">
        <div class="text-xl">THÔNG TIN GIAI DOẠN</div>
      </div>
      <div>
        <button mat-icon-button class="hover:bg-slate-200" (click)="dialogRef.close()">
          <mat-icon class="icon-size-5" svgIcon="heroicons_outline:x" title="Close"></mat-icon>
        </button>
      </div>
    </div>
    <div class="w-full pl-2 pr-2 content overflow-auto">

      <!-- Form -->
      <form [formGroup]="formGroup">
        <!-- Section -->

        <div class="grid sm:grid-cols-4 gap-4 w-full mt-8">
          <div class="sm:col-span-4 grid grid-cols-4 gap-6 w-full">

            <!-- tHÁNG -->
            <div class="sm:col-span-2">
              <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-label>{{'THÁNG'|transloco}}</mat-label>
                <input class=" " matInput [matDatepicker]="dateOfBirth" datePickerFormat="MM/YYYY"
                       [formControlName]="'month'"
                       [placeholder]="('placeholder.chooseDate' | transloco)+' ...'">
                <mat-datepicker-toggle [for]="dateOfBirth">
                </mat-datepicker-toggle>
                <mat-datepicker startView="multi-year"
                                (yearSelected)="chosenYearHandler($event,formGroup.get('month'))"
                                (monthSelected)="chosenMonthHandler($event, dateOfBirth,formGroup.get('month'))"
                                #dateOfBirth></mat-datepicker>
              </mat-form-field>
              <app-error-message [control]="formGroup.get('month')"></app-error-message>

            </div>
            <!-- ƯỚC LƯỢNG -->
            <div class="sm:col-span-2">
              <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                <mat-label>{{'ƯỚC LƯỢNG'|transloco}}</mat-label>
                <mat-icon
                  class="icon-size-5"
                  [svgIcon]="'heroicons_solid:user'"
                  matPrefix></mat-icon>
                <input
                  [formControlName]="'uocluong'"
                  matInput>
              </mat-form-field>
            </div>
            <!-- KHÁCH HÀNG CHỐT -->
            <div class="sm:col-span-2">
              <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                <mat-label>{{'KHÁCH HÀNG CHỐT'|transloco}}</mat-label>
                <input
                  [formControlName]="'chot'"
                  matInput>
              </mat-form-field>
            </div>
            <!-- NGÀY NGHIỆM THU -->
            <div class="sm:col-span-2">
              <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-label>{{'NGÀY NGHIỆM THU'|transloco}}</mat-label>
                <input class=" " matInput [matDatepicker]="leaveDate" datePickerFormat="DD/MM/YYYY"
                       [formControlName]="'date'"
                       [placeholder]="('NGÀY NGHIỆM THU' | transloco)+' ...'">
                <mat-datepicker-toggle [for]="leaveDate">
                </mat-datepicker-toggle>
                <mat-datepicker #leaveDate></mat-datepicker>
              </mat-form-field>
            </div>
            <!-- NGHIỆM THU -->
            <div class="sm:col-span-2">
              <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-label>{{'NGHIỆM THU'|transloco}}</mat-label>
                <mat-icon
                  class="icon-size-5"
                  [svgIcon]="'heroicons_solid:briefcase'"
                  matPrefix></mat-icon>
                <input
                  [formControlName]="'nghiemthu'"
                  matInput>
              </mat-form-field>
            </div>
            <!-- CHÊNH LỆCH -->
            <div class="sm:col-span-4">
              <label class="font-medium">CHÊNH LỆCH : </label>
              <span>{{formGroup.get('nghiemthu').value - formGroup.get('chot').value}}</span>
            </div>
            <!-- GHI CHÚ -->
            <div class="sm:col-span-4">
              <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                <mat-label>{{"common.summary"|transloco}}</mat-label>
                <mat-icon
                  class="icon-size-5"
                  [svgIcon]="'heroicons_solid:bookmark'"
                  matPrefix></mat-icon>
                <textarea
                  matInput
                  [formControlName]="'ghichu'"
                  cdkTextareaAutosize
                  [cdkAutosizeMinRows]="5"></textarea>
              </mat-form-field>
              <div class="mt-1 text-md text-hint">Brief description for your profile. Basic HTML and Emoji are allowed.
              </div>
            </div>
          </div>
        </div>
        <!-- Divider -->
        <div class="mt-11 mb-10 border-t"></div>

        <app-data-table formArrayName="arr"
                        [roleName]="_permissionCodeName"
                        [rows]="arr.controls //| slice: paginate.size * paginate.page : paginate.size * (paginate.page + 1)"
                        [columns]="columns"
                        [paginate]="true"
                        [limit]="searchModel.pageSize"
                        [count]="searchResult.totalRecords"
                        (action)="actionClick($event)"
                        (pageChange)="changePage($event)"
                        [rowTemplate]="rowTemplate"
        >
          <ng-template #rowTemplate let-row='row' let-column="column" let-index='index'>
            <ng-container [ngSwitch]="column.columnDef">
              <ng-container *ngSwitchCase="'input'" [formGroupName]="index">
                <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full pr-4">
                  <input matInput formControlName="input" placeholder="nhập j đó ...">
                </mat-form-field>

              </ng-container>
              <ng-container *ngSwitchDefault>
                <div [innerHTML]="column.cellRenderer ? column.cellRenderer(row.value) : row.value[column.columnDef]"
                     class="whitespace-nowrap"></div>
<!--                <div>{{row.value[column.columnDef]}}</div>-->
              </ng-container>
            </ng-container>
          </ng-template>
        </app-data-table>
      </form>

    </div>
    {{formGroup.value|json}}
    <!-- Actions -->
    <div class="footer mt-6 flex justify-end">
      <button mat-raised-button color="primary" class="mr-3" [disabled]="formGroup.invalid"
              (click)="formGroup.valid && save(formGroup.value)">
        <mat-icon class="icon-size-5 mr-2" svgIcon="heroicons_outline:check"></mat-icon>
        <span>{{t('button.save')}}</span>
      </button>
      <button mat-raised-button (click)="dialogRef.close()">
        <mat-icon class="icon-size-5 mr-2" svgIcon="heroicons_outline:x"></mat-icon>
        <span>{{t('button.cancel')}}</span>
      </button>
    </div>

  </div>
</ng-container>
