<ng-container *transloco="let t">
  <div class="header border-b flex justify-between items-center pb-3">
    <div class="text-2xl font-bold card-title capitalize">
      {{
        (dialogId ? "common.title.edit" : "common.title.create")
          | transloco
            : { screenName: "hrm-management.contract.title" | transloco }
      }}
    </div>
    <div>
      <button
        mat-icon-button
        class="hover:bg-slate-100"
        (click)="dialogRef.close()"
      >
        <mat-icon
          svgIcon="heroicons_outline:x"
          title="Edit"
          class="icon-size-5"
        ></mat-icon>
      </button>
    </div>
  </div>
  <!--    content-->
  <div class="content mt-6" [formGroup]="formGroup">


    <div class="field flex mb-4">
      <div class="w-1/2 flex">
        <label class="w-1/3 font-medium required">{{
          "hrm-management.staff.title" | transloco
        }}</label>
        <div class="input w-5/6">
          <mat-form-field
            appearance="fill"
            class="fuse-mat-no-subscript w-full bg-card"
          >
            <mat-select #selectMember
              [placeholder]="'hrm-management.staff.title' | transloco"
              formControlName="staffId"
            >
            <mat-option>
              <ngx-mat-select-search [noEntriesFoundLabel]="'hrm-management.contract.notFound' | transloco" [placeholderLabel]="'hrm-management.staff.title' | transloco" [formControlName]="'searchStaff'">
                <mat-icon ngxMatSelectSearchClear
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:x'"
                          matPrefix></mat-icon>
              </ngx-mat-select-search>
            </mat-option>

              <ng-container *ngFor="let staff of listStaff">
                <mat-option [value]="staff.id" *ngIf="staff.status == true">
                  {{staff.fullName}}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <app-error-message
            [control]="formGroup.get('staffId')"
            [name]="'hrm-management.staff.title' | transloco"
          ></app-error-message>
        </div>
      </div>

      <div class="w-1/2 flex">
        <label class="w-1/3 font-medium required ml-4">{{
          "hrm-management.staff.detail.contract.contract" | transloco
        }}</label>
        <div class="input w-5/6">
          <mat-form-field
            appearance="fill"
            class="fuse-mat-no-subscript w-full bg-card"
          >
            <mat-select
              [placeholder]="
                'hrm-management.staff.detail.contract.contract' | transloco
              "
              formControlName="type"
            >
              <mat-option
                *ngFor="let item of listCaregories.CONTACT_TYPE"
                [value]="item?.code"
                >{{ item?.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <app-error-message
            [control]="formGroup.get('type')"
            [name]="'hrm-management.staff.detail.contract.contract' | transloco"
          ></app-error-message>
        </div>
      </div>
    </div>

    <div class="field flex mb-4">
      <div class="w-1/2 flex">
        <label class="w-1/3 font-medium required">{{
          "common.status" | transloco
        }}</label>
        <div class="input w-5/6">
          <mat-form-field
            appearance="fill"
            class="fuse-mat-no-subscript w-full bg-card"
          >
            <mat-select
              [placeholder]="'common.status' | transloco"
              formControlName="status"
              [disabled]="dialogId"
            >
              <mat-option
                *ngFor="let item of listCaregories.CONTRACT_STATUS"
                [value]="item?.code"
                >{{ item?.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <app-error-message
            [control]="formGroup.get('status')"
            [name]="'common.status' | transloco"
          ></app-error-message>
        </div>
      </div>
      <div class="w-1/2 flex">
        <label class="w-1/3 font-medium required ml-4" for="code">{{
          "hrm-management.contract.code" | transloco
        }}</label>
        <div class="input w-5/6">
          <mat-form-field
            class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card"
          >
            <input
              class="w-full"
              id="code"
              [placeholder]="'hrm-management.contract.code' | transloco"
              formControlName="code"
              matInput
            />
          </mat-form-field>
          <app-error-message
            [control]="formGroup.get('code')"
            [name]="'hrm-management.contract.code' | transloco"
          ></app-error-message>
        </div>
      </div>
    </div>

    <div class="field flex mb-4">
      <div class="w-1/2 flex">
        <label class="w-1/3 font-medium required" for="termPeriod">{{
          "hrm-management.contract.termPeriod" | transloco
        }}</label>
        <div class="input w-5/6">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <input
              class="w-full"
              id="code"
              [placeholder]="'hrm-management.contract.termPeriod' | transloco"
              formControlName="termPeriod"
              matInput
              type="number"
            />
          </mat-form-field>
          <app-error-message
            [control]="formGroup.get('termPeriod')"
            [name]="'hrm-management.contract.termPeriod' | transloco"
          ></app-error-message>
        </div>
      </div>

      <div class="w-1/2 flex">
        <mat-label class="w-1/3 font-medium required ml-4">{{
          "hrm-management.contract.effDate" | transloco
        }}</mat-label>
        <div class="input w-5/6">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <input
              class=" "
              matInput
              [min]="formGroup.value.signDate"
              [max]="formGroup.value.expDate"
              [matDatepicker]="effDate"
              datePickerFormat="DD/MM/YYYY"
              [formControlName]="'effDate'"
              [placeholder]="('placeholder.chooseDate' | transloco) + ' ...'"
            />
            <mat-datepicker-toggle #datepicker [for]="effDate">
            </mat-datepicker-toggle>
            <mat-datepicker #effDate></mat-datepicker>
          </mat-form-field>
          <app-error-message
            [control]="formGroup.get('effDate')"
            [name]="'common.message.date_format' | transloco"
          ></app-error-message>
        </div>
      </div>
    </div>

    <div class="field flex mb-4">
      <div class="w-1/2 flex">
        <mat-label class="w-1/3 font-medium required">{{
          "hrm-management.contract.expDate" | transloco
        }}</mat-label>
        <div class="input w-5/6">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <input
              class=" "
              matInput
              [min]="formGroup.value.signDate"
              [matDatepicker]="expDate"
              datePickerFormat="DD/MM/YYYY"
              [formControlName]="'expDate'"
              [placeholder]="('placeholder.chooseDate' | transloco) + ' ...'"
            />
            <mat-datepicker-toggle #datepicker [for]="expDate">
            </mat-datepicker-toggle>
            <mat-datepicker #expDate></mat-datepicker>
          </mat-form-field>
          <app-error-message
            [control]="formGroup.get('expDate')"
            [name]="'common.message.date_format' | transloco"
          ></app-error-message>
        </div>
      </div>

      <div class="w-1/2 flex">
        <mat-label class="w-1/3 font-medium required ml-4">{{
          "hrm-management.contract.signDate" | transloco
        }}</mat-label>
        <div class="input w-5/6">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <input
              class=" "
              matInput
              [matDatepicker]="signDate"
              datePickerFormat="DD/MM/YYYY"
              [formControlName]="'signDate'"
              [placeholder]="('placeholder.chooseDate' | transloco) + ' ...'"
            />
            <mat-datepicker-toggle #datepicker [for]="signDate">
            </mat-datepicker-toggle>
            <mat-datepicker #signDate></mat-datepicker>
          </mat-form-field>
          <app-error-message
            [control]="formGroup.get('signDate')"
            [name]="'common.message.date_format' | transloco"
          ></app-error-message>
        </div>
      </div>
    </div>

    <div class="field flex mb-4">
      <div class="w-1/2 flex">
        <label class="w-1/3 font-medium required" for="salary">{{
          "hrm-management.contract.salary" | transloco
        }}</label>
        <div class="input w-5/6">
          <mat-form-field
            class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card"
          >
            <input
              class="w-full"
              id="salary"
              [placeholder]="'hrm-management.contract.salary' | transloco"
              formControlName="salary"
              matInput
            />
          </mat-form-field>
          <app-error-message
            [control]="formGroup.get('salary')"
            [name]="'hrm-management.contract.salary' | transloco"
          ></app-error-message>
        </div>
      </div>
      <div class="w-1/2 flex">
        <label class="w-1/3 font-medium required ml-4" for="insurance">{{
          "hrm-management.contract.insurance" | transloco
        }}</label>
        <div class="input w-5/6">
          <mat-form-field
            class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card"
          >
            <input
              class="w-full"
              id="insurance"
              [placeholder]="'hrm-management.contract.insurance' | transloco"
              formControlName="insurance"
              matInput
            />
          </mat-form-field>
          <app-error-message
            [control]="formGroup.get('insurance')"
            [name]="'hrm-management.contract.insurance' | transloco"
          ></app-error-message>
        </div>
      </div>
    </div>

    <div class="field flex mb-4">
      <div class="w-1/2 flex">
        <label class="w-1/3 font-medium required" for="file">{{
          "hrm-management.contract.link" | transloco
        }}</label>
        <div class="input w-5/6">
          <input
            type="file"
            id="file"
            name="file"
            class="hidden"
            accept=".pdf, .doc, .docx"
            (change)="uploadFile($event)"
          
          />
          <label
            for="file"
            class="flex justify-start items-center w-full h-full"
          >
            <span *ngIf="!fileUpload.name " class="cursor-pointer">Upload file</span>
            <!-- <span *ngIf="detailsData?.documentName && dialogId" class="cursor-pointer">{{detailsData?.documentName}}</span> -->
            <span *ngIf="fileUpload.name" class="cursor-pointer">{{fileUpload.name}}</span>
            
            <!-- <span
              class="flex justify-start items-center gap-3"
              *ngIf="fileUpload.type"
              ><img [src]="fileUpload.type" class="w-6" />{{
                fileUpload.name
              }}</span
            > -->
          </label>
          <app-error-message
            [control]="formGroup.get('file')"
            [name]="'hrm-management.contract.link' | transloco"
          ></app-error-message>
        </div>
      </div>
    </div>
  </div>
  <!--    footer-->
  <div class="footer mt-6 flex justify-end">
    <button mat-raised-button class="mr-3" (click)="dialogRef.close()">
      <mat-icon
        class="icon-size-5 mr-2"
        svgIcon="heroicons_outline:x"
      ></mat-icon>
      <span>{{ "button.cancel" | transloco }}</span>
    </button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="formGroup.invalid || !this.fileUpload.name"
      (click)="formGroup.valid && save(formGroup.value)"
    >
      <mat-icon
        class="icon-size-5 mr-2"
        svgIcon="heroicons_outline:check"
      ></mat-icon>
      <span>{{ (dialogId ? "button.edit" : "button.save") | transloco }}</span>
    </button>
  </div>
</ng-container>
