<mat-drawer-container class="flex flex-col flex-auto rounded-t-2xl shadow bg-card">

  <!-- Drawer -->
  <mat-drawer
    class="w-72 dark:bg-gray-900"
    [autoFocus]="false"
    [mode]="drawerMode"
    [opened]="drawerOpened"
    [position]="'end'"
    #matDrawer>
    <!-- Demo sidebar -->
    <ng-container *ngIf="targetPermissions&&targetPermissions.permissions.length>0 else nodata"
                  class="flex-auto p-6 sm:p-10 overflow-y-auto" cdkScrollable>
      <div class="flex-auto p-6 sm:p-10 overflow-y-auto" cdkScrollable>
        <button class="bg-accent-100"
                mat-icon-button
                (click)="matDrawer.toggle()">
          <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
        <ul>
          <li *ngFor="let permission of targetPermissions.permissions">
            <div class="form-check flex inline-flex m-2">
              <input id="{{permission.permissionId}}" [disabled]="checkDisable" type="checkbox" class="form-check-input" [(ngModel)]="permission.action"/>
              <label for="{{permission.permissionId}}" [class.disabled]="checkDisable" class="form-check-label ml-2"> {{permission.nameAction}} </label>
            </div>
          </li>
        </ul>
      </div>
      <!--              <button (click)="show(itemPermissions,matDrawer)">fjaskdhfasd</button>-->
    </ng-container>
    <ng-template #nodata>
      <div class="flex-auto p-6 sm:p-10 overflow-y-auto" cdkScrollable>
        <span>{{'message.noData'|transloco}}</span>
      </div>
    </ng-template>
    <!--            <demo-sidebar></demo-sidebar>-->
  </mat-drawer>

  <!-- Drawer content -->
  <mat-drawer-content class="flex flex-col overflow-hidden">

    <!-- Main -->
    <div
      class="flex-auto p-6 sm:p-10 overflow-y-auto"
      cdkScrollable>
      <!-- CONTENT GOES HERE -->
      <!--              <div class="h-full border-2 border-dashed border-gray-300 rounded-2xl">-->
      <div class="h-full ">
        <ngx-treeview #tree [items]="items" (filterChange)="onFilterChange($event)"
                      (selectedChange)="onSelectedChange($event,items)"
                      [itemTemplate]="itemTemplate">
        </ngx-treeview>
        <ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand"
                     let-onCheckedChange="onCheckedChange">

          <div class="form-inline row-item w-full" [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !targetCode || targetCode !== item.value,
                                    'bg-primary-50 dark:bg-hover': targetCode && targetCode === item.value}">
            <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fa">
              <mat-icon
                [svgIcon]="item.collapsed ? 'mat_outline:arrow_right' : 'mat_outline:arrow_drop_down'"></mat-icon>
            </i>
            <!--    <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fa" [class.fa-caret-right]="item.collapsed" [class.fa-caret-down]="!item.collapsed"></i>-->

            <div class="form-check flex" [ngClass]="item.children?'':'pl-4'">

              <input type="checkbox" class="form-check-input" [(ngModel)]="item.checked" (click)="onCheckedChanged($event.target,item.value)"
                     [indeterminate]="item.indeterminate" (ngModelChange)="onCheckedChange()"/>

              <label class="form-check-label cursor-pointer px-4"
                     [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !targetCode || targetCode !== item.value,
                                    'bg-primary-50 dark:bg-hover': targetCode && targetCode === item.value}"
                     (click)="selectChildren(item)"> {{item.text }} </label>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
