::ng-deep .mat-placeholder-required.mat-form-field-required-marker {
  color: red;
}
.checkbox{
  display: grid;
  gap: 4px;
  label{
    position: relative;
    top: 0;
    margin-top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: none;
    font-weight: 500;
    --tw-text-opacity: 1 !important;
    color: rgba(var(--fuse-text-default-rgb), var(--tw-text-opacity)) !important;
  }
  
  .box-checkbox{
    input{
      width: 18px;
      height: 18px;
    }
  }
  
}

span.btn{
  cursor: pointer;
  position: relative;
    display: flex;
    align-items: center;
    min-height: 40px;
    border-radius: 6px;
    padding: 0 16px;
    border-width: 1px;
    --tw-border-opacity: 1 !important;
    border-color: rgb(203 213 225 / var(--tw-border-opacity)) !important;
    --tw-bg-opacity: 1 !important;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}