<ng-container *transloco="let t">
  <div class="flex flex-col h-full">
    <!--        header-->
    <div class="header border-b flex justify-between items-center pb-3">
      <div class="text-2xl font-bold card-title capitalize">
        {{
          (dialogId ? "common.title.edit" : "common.title.create")
            | transloco
              : { screenName: "hrm-management.project.title" | transloco }
        }}
      </div>
      <div>
        <button
          mat-icon-button
          class="hover:bg-slate-200"
          (click)="dialogRef.close()"
        >
          <mat-icon
            class="icon-size-5"
            svgIcon="heroicons_outline:x"
            title="Close"
          ></mat-icon>
        </button>
      </div>
    </div>
    <!--        content-->
    <div class="content mt-6 flex-1 overflow-auto" [formGroup]="formGroup">
      <div class="field flex mb-4">
        <label class="w-1/6 font-medium p-2 required" for="project-name">{{
          t("common.name")
        }}</label>
        <div class="input w-5/6">
          <mat-form-field
            class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card"
          >
            <input
              class="w-full"
              id="project-name"
              [placeholder]="('common.name' | transloco) + ' ...'"
              formControlName="name"
              matInput
              trim="blur"
            />
          </mat-form-field>
          <app-error-message
            [control]="formGroup.get('name')"
            [name]="'common.name' | transloco"
          ></app-error-message>
        </div>
      </div>
      <div class="field flex mb-4">
        <div class="w-1/2 flex">
          <label class="w-1/3 font-medium p-2 required" for="project-code">{{
            "common.code" | transloco
          }}</label>
          <div class="input w-2/3">
            <mat-form-field
              class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card"
            >
              <input
                class="w-full"
                id="project-code"
                [placeholder]="('common.code' | transloco) + ' ...'"
                formControlName="code"
                matInput
                trim="blur"
              />
            </mat-form-field>
            <app-error-message
              [control]="formGroup.get('code')"
              [name]="'common.code' | transloco"
            ></app-error-message>
          </div>
        </div>
        <div class="w-1/2 flex">
          <label
            class="w-1/3 font-medium p-2 required ml-4"
            for="projectType"
            >{{ "hrm-management.project.form.projectType" | transloco }}</label
          >
          <div class="input w-2/3">
            <mat-form-field
              appearance="fill"
              class="fuse-mat-no-subscript w-full bg-card"
            >
              <mat-select
                [placeholder]="
                  ('hrm-management.project.form.projectType' | transloco) +
                  ' ...'
                "
                id="projectTypeName"
                formControlName="projectTypeName"
                (selectionChange)="onChange($event)"
              >
                <mat-option
                  *ngFor="let type of projectTypes"
                  [value]="type?.name"
                  >{{ type?.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <app-error-message
              [control]="formGroup.get('projectType')"
              [name]="'hrm-management.project.form.projectType' | transloco"
            ></app-error-message>
          </div>
        </div>
      </div>
      <div class="field flex mb-4">
        <!--        <div class="w-1/2 flex">-->
        <!--          <label class="w-1/3 p-2 " for="parent-project">{{"common.parent"|transloco}}</label>-->
        <!--          <div class="input w-2/3">-->
        <!--            <mat-form-field appearance="fill" class="fuse-mat-no-subscript w-full bg-card">-->
        <!--              <mat-select placeholder="Chọn dự án cha" id="parent-project" formControlName="parentId">-->
        <!--                <mat-option *ngFor="let project of projects" [value]="project?.id">{{project?.name}}</mat-option>-->
        <!--              </mat-select>-->
        <!--            </mat-form-field>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div class="w-1/2 flex">-->
        <label class="w-1/6 font-medium p-2 required" for="partnerId">{{
          "hrm-management.project.form.partner" | transloco
        }}</label>
        <div class="input w-5/6">
          <mat-form-field
            appearance="fill"
            class="fuse-mat-no-subscript w-full bg-card"
          >
            <mat-select
              [placeholder]="
                ('hrm-management.project.form.partner' | transloco) + ' ...'
              "
              id="partnerId"
              formControlName="partnerId"
            >
              <mat-option
                *ngFor="let partner of listPartner"
                [value]="partner?.id"
                >{{ partner?.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <app-error-message
            [control]="formGroup.get('partnerId')"
            [name]="'hrm-management.project.form.partner' | transloco"
          ></app-error-message>
        </div>
        <!--        </div>-->
      </div>
      <div class="field flex mb-4">
        <div class="w-1/2 flex">
          <label class="w-1/3 font-medium p-2 required" for="budget">{{
            "hrm-management.project.form.estimates" | transloco
          }}</label>
          <div class="input w-2/3">
            <mat-form-field
              class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card"
            >
              <input
                class="w-full"
                id="budget"
                type="number"
                [placeholder]="
                  ('hrm-management.project.form.estimates' | transloco) + ' ...'
                "
                formControlName="budget"
                matInput
                trim="blur"
              />
            </mat-form-field>
            <app-error-message
              [control]="formGroup.get('budget')"
              [name]="'hrm-management.project.form.budget' | transloco"
            ></app-error-message>
          </div>
        </div>
        <div class="w-1/2 flex">
          <label class="w-1/3 font-medium p-2 ml-4 required" for="price">{{
            "hrm-management.project.form.price" | transloco
          }}</label>
          <div class="input w-2/3">
            <mat-form-field
              class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card"
            >
              <input
                class="w-full"
                id="price"
                type="number"
                [placeholder]="
                  ('hrm-management.project.form.price' | transloco) + ' ...'
                "
                formControlName="unitPrice"
                matInput
                trim="blur"
              />
              <span>MM</span>
            </mat-form-field>
            <app-error-message
              [control]="formGroup.get('price')"
              [name]="'hrm-management.project.form.price' | transloco"
            ></app-error-message>
          </div>
        </div>
      </div>
      <div class="field flex mb-4">
        <div class="w-1/2 flex">
          <label class="w-1/3 font-medium required p-2">{{
            "hrm-management.project.form.startTime" | transloco
          }}</label>
          <div class="input w-2/3">
            <mat-form-field class="fuse-mat-no-subscript w-full">
              <input
                class=" "
                matInput
                [matDatepicker]="startTime"
                datePickerFormat="DD/MM/YYYY"
                formControlName="startTime"
                [placeholder]="('placeholder.chooseDate' | transloco) + ' ...'"
              />
              <mat-datepicker-toggle [for]="startTime"> </mat-datepicker-toggle>
              <mat-datepicker #startTime></mat-datepicker>
            </mat-form-field>
            <app-error-message
              [control]="formGroup.get('startTime')"
              textPattern="{{ 'common.message.date_format' | transloco }}"
              [name]="'common.message.date_format' | transloco"
            >
            </app-error-message>

            <!-- textPattern="{{'common.message.date_format_1'| transloco }}" -->
          </div>
        </div>
        <div class="w-1/2 flex">
          <label class="w-1/3 font-medium ml-4 p-2 required">{{
            "hrm-management.project.form.expectEndTime" | transloco
          }}</label>
          <div class="input w-2/3">
            <mat-form-field class="fuse-mat-no-subscript w-full">
              <input
                class=" "
                matInput
                [matDatepicker]="expectEndTime"
                datePickerFormat="DD/MM/YYYY"
                formControlName="expectEndTime"
                [placeholder]="('placeholder.chooseDate' | transloco) + ' ...'"
              />
              <mat-datepicker-toggle [for]="expectEndTime">
              </mat-datepicker-toggle>
              <mat-datepicker #expectEndTime></mat-datepicker>
            </mat-form-field>
            <app-error-message
              [control]="formGroup.get('expectEndTime')"
              [name]="'common.message.date_format' | transloco"
            >
              >
            </app-error-message>
          </div>
        </div>
      </div>
      <div class="field flex mb-4">
        <div class="w-1/2 flex">
          <label class="w-1/3 font-medium p-2">{{
            "hrm-management.project.form.actualEndTime" | transloco
          }}</label>
          <div class="input w-2/3">
            <div class="w-full my-border">
              <input
                class=" "
                matInput
                [matDatepicker]="actualEndTime"
                datePickerFormat="DD/MM/YYYY"
                formControlName="actualEndTime"
                [placeholder]="('placeholder.chooseDate' | transloco) + ' ...'"
              />
              <mat-datepicker-toggle [for]="actualEndTime">
              </mat-datepicker-toggle>
              <mat-datepicker #actualEndTime></mat-datepicker>
            </div>
          </div>
        </div>
      </div>
      <div class="field flex mb-4">
        <label class="w-1/6 font-medium p-2 flex items-center">{{
          t("common.description")
        }}</label>
        <div class="input w-5/6">
          <mat-form-field
            class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card"
          >
            <textarea
              class="w-full"
              [placeholder]="('common.description' | transloco) + ' ...'"
              formControlName="description"
              matInput
              trim="blur"
            ></textarea>
          </mat-form-field>
          <app-error-message [control]="formGroup.get('description')" [name]='"common.description"|transloco'></app-error-message>
        </div>
      </div>

      <div class="header border-b flex justify-between items-center pb-3 p-2">
        <div class="text-2xl font-bold card-title">
          {{ "hrm-management.project.form.PointOfContact" | transloco }}
        </div>
      </div>
      <div class="content mt-6 flex-1 overflow-auto p-2">
        <div class="field flex mb-4">
          <div class="w-1/2 flex">
            <label class="w-1/3 font-medium p-2" for="contactName">{{
              "hrm-management.project.form.contactPersonName" | transloco
            }}</label>
            <div class="input w-2/3">
              <mat-form-field
                class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card"
              >
                <input 
                  class="w-full"
                  id="contactName"
                  [placeholder]="
                    ('hrm-management.project.form.contactPersonName'
                      | transloco) + ' ...'
                  "
                  formControlName="contactName"
                  matInput
                  trim="blur"
                />
              </mat-form-field>
              <app-error-message
                [control]="formGroup.get('contactName')"
                [name]="'common.name' | transloco"
              ></app-error-message>
            </div>
          </div>
          <div class="w-1/2 flex">
            <label
              class="w-1/3 font-medium ml-4 p-2"
              for="contactPhone"
              >{{
                "hrm-management.project.form.contactPersonPhone" | transloco
              }}</label
            >
            <div class="input w-2/3">
              <mat-form-field
                class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card"
              >
                <input
                  class="w-full"
                  id="contactPhone"
                  [placeholder]="
                    ('hrm-management.project.form.contactPersonPhone'
                      | transloco) + ' ...'
                  "
                  formControlName="contactPhone"
                  matInput
                  trim="blur"
                />
              </mat-form-field>
              <app-error-message
                [control]="formGroup.get('contactPhone')"
                textPattern="{{ 'common.message.phone_format' | transloco }}"
                [name]="'common.phone' | transloco"
              ></app-error-message>
            </div>
          </div>
        </div>
        <div class="field flex mb-4">
          <div class="w-1/2 flex">
            <label class="w-1/3 font-medium p-2" for="contactMail">{{
              "hrm-management.project.form.contactPersonEmail" | transloco
            }}</label>
            <div class="input w-2/3">
              <mat-form-field
                class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card"
              >
                <input
                  class="w-full"
                  id="contactMail"
                  [placeholder]="
                    ('hrm-management.project.form.contactPersonEmail'
                      | transloco) + ' ...'
                  "
                  formControlName="contactMail"
                  matInput
                  trim="blur"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer mt-6 flex justify-end">
      <button mat-raised-button class="mr-3" (click)="dialogRef.close()">
        <mat-icon
          class="icon-size-5 mr-2"
          svgIcon="heroicons_outline:x"
        ></mat-icon>
        <span>{{ t("button.cancel") }}</span>
      </button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="formGroup.invalid"
        (click)="formGroup.valid && save(formGroup.value)"
      >
        <mat-icon
          class="icon-size-5 mr-2"
          svgIcon="heroicons_outline:check"
        ></mat-icon>
        <span>{{ t("button.save") }}</span>
      </button>
    </div>
  </div>
</ng-container>
