<ng-container *transloco="let t">
  <div [formGroup]="formGroup">
    <div class="grid sm:grid-cols-5 gap-6 w-full">
      <div class="sm:col-span-2">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>{{
            "dashboard.profile.tab.sprint.from" | transloco
          }}</mat-label>
          <input
            class=" "
            matInput
            [matDatepicker]="startMonth"
            datePickerFormat="MM/YYYY"
            [formControlName]="'startMonth'"
            placeholder="Choose a date"
          />
          <mat-datepicker-toggle [for]="startMonth"> </mat-datepicker-toggle>
          <mat-datepicker
            #startMonth
            startView="multi-year"
            (yearSelected)="
              chosenYearHandler($event, formGroup.get('startMonth'))
            "
            (monthSelected)="
              chosenMonthHandler(
                $event,
                startMonth,
                formGroup.get('startMonth')
              )
            "
            panelClass="example-month-picker"
          ></mat-datepicker>
        </mat-form-field>
        <app-error-message
          [control]="formGroup.get('startMonth')"
          [name]="'dashboard.profile.tab.sprint.month' | transloco"
        >
        </app-error-message>
      </div>

      <div class="sm:col-span-2">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>{{
            "dashboard.profile.tab.sprint.to" | transloco
          }}</mat-label>
          <input
            class=" "
            matInput
            [matDatepicker]="endMonth"
            datePickerFormat="MM/YYYY"
            [formControlName]="'endMonth'"
            placeholder="Choose a date"
          />
          <mat-datepicker-toggle [for]="endMonth"> </mat-datepicker-toggle>
          <mat-datepicker
            #endMonth
            startView="multi-year"
            (yearSelected)="
              chosenYearHandler($event, formGroup.get('endMonth'))
            "
            (monthSelected)="
              chosenMonthHandler(
                $event,
                endMonth,
                formGroup.get('endMonth')
              )
            "
            panelClass="example-month-picker"
          ></mat-datepicker>
        </mat-form-field>
        <app-error-message
          [control]="formGroup.get('endMonth')"
          [name]="'dashboard.profile.tab.sprint.month' | transloco"
        >
        </app-error-message>
      </div>

      <div class="sm:col-span-1 flex justify-start items-end">
        <button
          mat-raised-button
          color="primary"
          class="mr-3"
          [disabled]="formGroup.invalid"
          (click)="view()"
        >
          <span>{{ "common.button.view" | transloco }}</span>
        </button>
      </div>
    </div>
  </div>
</ng-container>

<app-chart-line
  style="width: 100%"
  [options]="options"
  [random]="random"
></app-chart-line>