<ng-container *transloco="let t">
  <div class="w-full h-full px-4" [ngClass]="{active: staffSelected}">
    <mat-card class="bg-card h-full">
      <div class="header border-b flex justify-between">
        <div class="text-2xl font-bold card-title mb-3 capitalize flex justify-between gap-5">
          <!-- {{t('hrm-management.staff.title')}} -->

          <div class="flex justify-between gap-3 items-end">
            <form class="content overflow-hidden flex justify-between gap-3" [formGroup]="formSearch">
              <div class="field flex-col w-full">
                <div class="input min-w-140">
                  <!-- <label class=" font-medium">{{t("common.keyword")}}</label> -->
                  <mat-form-field
                    class="fuse-mat-no-subscript w-full  sm:mt-0 bg-card">
                    <input class="w-full"
                           [placeholder]="('common.keyword' | transloco)+' ...'"
                           formControlName="keyword"
                           matInput trim='blur'>
                  </mat-form-field>
                </div>
              </div>

              <div class="w-full flex justify-center">
                <button type="submit" mat-raised-button color="primary" [disabled]="formSearch.invalid"
                        (click)="doSearch()">
                  <!--                                        <mat-icon class="icon-size-5 mr-2" svgIcon="heroicons_outline:check"></mat-icon>-->
                  <mat-icon
                    matPrefix
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                  <span>{{t("common.search")}}</span>
                </button>
              </div>

            </form>

            <div class="flex w-40 grid-view">
              <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-select [(ngModel)]="typeStatus" (ngModelChange)="filterStatus($event)" class=" h-7">
                  <mat-option *ngFor="let item of list_status" [value]="item.type">
                    {{ item.name | transloco }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="flex w-40 grid-view">
              <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-select [(ngModel)]="typeView" (ngModelChange)="setView($event)" class=" h-7">
                  <mat-option *ngFor="let item of list_type_view" [value]="item.type">
                    {{ item.name | transloco }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>


        </div>
        <div class="mb-2">
          <button *hasAnyAuthority="_permissionCodeName+'_CREATE'" mat-raised-button color="primary"
                  (click)="addOrEdit(-1)">
            <mat-icon class="icon-size-6" svgIcon="heroicons_outline:plus"></mat-icon>
            {{t('add-new')}}
          </button>
        </div>
      </div>

      <div class="content mt-4 w-full">
        <div class="data-table w-full mt-4">
          <app-data-table
            [roleName]="_permissionCodeName"
            [rows]="searchResult.data||[]"
            [columns]="columns"
            [paginate]="true"
            [limit]="searchModel.pageSize"
            [count]="searchResult.totalRecords"
            [typeView]="typeView"
            (action)="actionClick($event)"
            (pageChange)="changePage($event)">
          </app-data-table>
          <!-- [(pageIndex)]="searchModel.page" -->

        </div>
      </div>
    </mat-card>
  </div>
</ng-container>

<fuse-drawer class="w-[60vw] min-w-[60vw] z-999"
             fixed
             [mode]="'over'"
             [name]="'editUserDrawer'"
             [position]="'right'"
             (openedChanged)="openDrawerChange($event)"
             #drawer>
  <app-add-or-edit-staff-drawer *ngIf="staffSelected" class="w-full" [staffSelected]="staffSelected"
                          [drawer]="drawer"
  ></app-add-or-edit-staff-drawer>
</fuse-drawer>

