<ng-container *transloco="let t">
    <div class="flex flex-col h-full">
        <!--        header-->
        <div class="header border-b flex justify-between items-center pb-3">
            <div class="text-2xl font-bold card-title capitalize">
                {{dialogId?t("hrm-management.editHeader")+("
                ")+t("hrm-management.team.title"):t("hrm-management.addHeader")+(" ")+t("hrm-management.team.title")}}
            </div>
            <div>
                <button mat-icon-button class="hover:bg-slate-200" (click)="dialogRef.close()">
                    <mat-icon class="icon-size-5" svgIcon="heroicons_outline:x" title="Close"></mat-icon>
                </button>
            </div>
        </div>

        <div class="w-full pl-2 pr-2 content overflow-auto">
            <!-- Form -->
            <form [formGroup]="formGroup">
                <!-- Section -->

                <div class="grid sm:grid-cols-1 gap-6 w-full mt-8">
                    <!-- Name -->
                    <div class="sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>{{'common.name'|transloco}} {{'hrm-management.team.title'|transloco}}</mat-label>
                            <!-- <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix></mat-icon> -->
                            <input [formControlName]="'timeKeepImport'" matInput>
                        </mat-form-field>
                        <app-error-message [control]="formGroup.get('timeKeepImport')"
                            [name]="'common.name'|transloco"></app-error-message>
                    </div>
                </div>

                <!-- upload file -->
                <div class="mt-5">
                    <label for="file-input">
                        <mat-icon svgIcon="feather:file"></mat-icon>
                    </label>
                    <input type="file" name="document" (change)="uploadFile($event)" id="file-input" #fileUpload />
                </div>
            </form>

        </div>
        <!-- Actions -->
        <div class="footer mt-6 flex justify-end">
            <button mat-raised-button color="primary" class="mr-3"
                [disabled]="formGroup.invalid||(fileUpload.value=='')"
                (click)="formGroup.valid && save(formGroup.value)">
                <mat-icon class="icon-size-5 mr-2" svgIcon="heroicons_outline:check"></mat-icon>
                <span>{{t('button.save')}}</span>
            </button>
            <button mat-raised-button (click)="dialogRef.close()">
                <mat-icon class="icon-size-5 mr-2" svgIcon="heroicons_outline:x"></mat-icon>
                <span>{{t('button.cancel')}}</span>
            </button>
        </div>

    </div>
</ng-container>