
<form [formGroup]="formSearch">
    <mat-form-field class="fuse-mat-no-subscript w-full">
        <mat-label
          >{{ lableName }}
        </mat-label>
        <mat-select [formControl]="ctlName" #singleSelect>
          <mat-option>
            <ngx-mat-select-search [noEntriesFoundLabel]="'hrm-management.contract.notFound' | transloco"
             [placeholderLabel]="lableName"
             [formControl]="formSearch.get('positionIdFilter') ">
              <mat-icon ngxMatSelectSearchClear
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:x'"
                        matPrefix></mat-icon>
            </ngx-mat-select-search>
          </mat-option>
          <ng-container *ngFor="let item of list">
            <mat-option [value]="item?.id" *ngIf = "item.status === 1">
              {{ item?.name }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </form>
  <app-error-message 
  [control]="ctlName"
  [name]="lableName">
</app-error-message>
  
