<ng-container *transloco="let t">
  <div class="flex flex-col h-full">
    <!--        header-->
    <div class="header border-b flex justify-between items-center pb-3">
      <div class="text-2lx font-bold card-title">
        {{diaLogId?t("hrm-management.editHeader"):t("hrm-management.addHeader")}}
      </div>
      <div>
        <button mat-icon-button class="hover:bg-slate-200" (click)="dialogRef.close()">
          <mat-icon class="icon-size-5" svgIcon="heroicons_outline:x" title="Close"></mat-icon>
        </button>
      </div>
    </div>
    <!--        content-->
    <div class="content mt-6 flex-1 overflow-auto" [formGroup]="formGroup">
      <div class="field flex mb-4">
        <label class="w-1/6 font-medium required">{{t("common.name")}}</label>
        <div class="input w-5/6">
          <mat-form-field
            class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card">
            <input class="w-full"
                   [placeholder]="('common.name' | transloco)+' ...'"
                   formControlName="name"
                   matInput trim='blur'>
          </mat-form-field>
          <app-error-message [control]="formGroup.get('name')" name="Tên"></app-error-message>
        </div>
      </div>
      <div class="field flex mb-4">
        <label class="w-1/6 font-medium required">{{t("common.phone")}}</label>
        <div class="input w-5/6">
          <mat-form-field
            class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card">
            <input class="w-full"
                   [placeholder]="('common.phone' | transloco)+' ...'"
                   formControlName="phone"
                   matInput trim='blur'>
          </mat-form-field>
          <app-error-message [control]="formGroup.get('name')" name="Tên"></app-error-message>
        </div>
      </div>
      <div class="field flex mb-4">
        <label class="w-1/6 font-medium ">{{t("common.address")}}</label>
        <div class="input w-5/6">
          <mat-form-field
            class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card">
            <input class="w-full"
                   [placeholder]="('common.address' | transloco)+' ...'"
                   formControlName="address"
                   matInput trim='blur'>
          </mat-form-field>
        </div>
      </div>
      <div class="field flex mb-4">
        <label class="w-1/6 font-medium ">{{t("common.note")}}</label>
        <div class="input w-5/6">
          <mat-form-field
            class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card">
            <textarea class="w-full"
                      [placeholder]="('common.note' | transloco)+' ...'"
                   formControlName="note"
                   matInput trim='blur'></textarea>
          </mat-form-field>
        </div>
      </div>

    </div>
    <div class="footer mt-6 flex justify-end">
      <button mat-raised-button color="primary" class="mr-3" [disabled]="formGroup.invalid" (click)="formGroup.valid && save(formGroup.value)">
        <mat-icon class="icon-size-5 mr-2" svgIcon="heroicons_outline:check"></mat-icon>
        <span>{{t('button.save')}}</span>
      </button>
      <button mat-raised-button (click)="dialogRef.close()">
        <mat-icon class="icon-size-5 mr-2" svgIcon="heroicons_outline:x"></mat-icon>
        <span>{{t('button.cancel')}}</span>
      </button>
    </div>
  </div>
</ng-container>
